<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Characters</h2>
<table>
    {% for character in characters %}
    <tr>
        <td>{{ character[0] }}</td>
        <td>{{ character[1] }}</td>
        <td>{{ character[2] }}</td>
        <td>{{ character[3] }}</td>
        <td>{{ character[4] }}</td>
        <td>{{ character[5] }}</td>
        <td>{{ character[6] }}</td>
        <td>{{ character[7] }}</td>
        <td>{{ character[8] }}</td>
        <td>{{ character[9] }}</td>
        <td>{{ character[10] }}</td>
        <td>{{ character[11] }}</td>
        <td>{{ character[12] }}</td>
        <td>{{ character[13] }}</td>
        <td>{{ character[14] }}</td>
        <td>{{ character[15] }}</td>
        <td>{{ character[16] }}</td>
        <td>{{ character[17] }}</td>
        <td>{{ character[18] }}</td>
        <td>{{ character[19] }}</td>
        <td>{{ character[20] }}</td>
        <td>{{ character[21] }}</td>
        <td>{{ character[22] }}</td>
        <td>{{ character[23] }}</td>
        <td>{{ character[24] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>