<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Horses</h2>
<table>
    {% for horse in horses %}
    <tr>
        <td>{{ horse[0] }}</td>
        <td>{{ horse[1] }}</td>
        <td>{{ horse[2] }}</td>
        <td>{{ horse[3] }}</td>
        <td>{{ horse[4] }}</td>
        <td>{{ horse[5] }}</td>
        <td>{{ horse[6] }}</td>
        <td>{{ horse[7] }}</td>
        <td>{{ horse[8] }}</td>
        <td>{{ horse[9] }}</td>
        <td>{{ horse[10] }}</td>
        <td>{{ horse[11] }}</td>
        <td>{{ horse[12] }}</td>
        <td>{{ horse[13] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>